* {
    margin-top: 0;
    margin-bottom: 0;
}

body {
  margin: 0;
  background-color: #ffffff;
  color: #333;
}

header {
  background: #f8f9fa;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%; 
}


.logo {
  font-weight: 600;
  color: darkcyan ;
}
nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
  font-weight: 400;
}

#myVideo {
    width: 100%;
    height: 1100px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.card {
    width: 60%;
    margin: 70px auto;
    padding: 30px;
    border: 0px solid #000;
    border-radius: 10px;
    background: #fff;
}

/* container kiri + kanan */
.content {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    gap: 20px;
}

/* bagian kiri (judul + paragraf) */
.left {
    width: 60%;
}

.judul {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
}

/* bagian kanan (gambar) */
.right img {
    width: 350px;     /* ubah sesuai ukuran yang kamu mau */
    height: 300px;
    border-radius: 8px;
}

.harga {
    padding: 20px 0
}

.lokasi {
    padding: 20px;
    justify-content: center;
    margin-top: 40px;
}


/* Footer */
.footer {
    background-color: #1b263b;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Logo */
.footer-logo {
    margin-bottom: 15px;
}

.logo-box {
    width: 60px;
    height: 60px;
    background-color: #415a77;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 10px;
    border-radius: 10px;
    font-weight: bold;
}

/* About */
.footer-about {
    margin-bottom: 15px;
    font-size: 14px;
    padding: 0 20px;
}

/* Contact */
.footer-contact a {
    color: #ffcc66;
    text-decoration: none;
}

.footer-contact a:hover {
    text-decoration: underline;
}

.gambarlogo {
  width: 50px;
  height: 50px;
}