* {
    margin-top: 0;
    margin-bottom: 0;
}

body {
  margin: 0;
  background-color: black;
  color: #333;
}

header {
  background: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
}

.logo {
  font-weight: 600;
  color: darkcyan ;
}
nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
  font-weight: 400;
}

#myVideo {
    width: 100%;
    height: 1500px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.events-section {
  text-align: center;
  padding: 10px 0;
  margin-top: 100px;
}

.events-grid1 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  width: 50%;
  margin: auto;
  padding: 50px;
}


.events-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 65%;
  margin: auto;
  height: 50px;
}

.card:hover {
  transform: translateY(-5px);
}
.date {
  color: #777;
  font-size: 20px;
  margin-top: 20px;
}

.card {
  position: relative;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  padding-bottom: 10px;
  transition: 0.3s;
}

h3 {
  font-size: 16px;
}

.mirror-card {
  position: relative;
    width: 60%;
    margin: auto;
    margin-top: 200px;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid #000;
    border-radius: 15px;
    background: #fff;
    gap: 10px;
}

/* Gambar kiri */
.mirror-img {
    width: 350px;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
}

/* Text kanan */
.mirror-text h2 {
    margin-top: 10px;
    padding: 40px;
    font-size: 30px;
}

/* Style dasar */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Footer */
.footer {
    background-color: #1b263b;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Logo */
.footer-logo {
    margin-bottom: 15px;
}

.logo-box {
    width: 60px;
    height: 60px;
    background-color: #415a77;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 10px;
    border-radius: 10px;
    font-weight: bold;
}

/* About */
.footer-about {
    margin-bottom: 15px;
    font-size: 14px;
    padding: 0 20px;
}

/* Contact */
.footer-contact a {
    color: #ffcc66;
    text-decoration: none;
}

.footer-contact a:hover {
    text-decoration: underline;
}

.gambarlogo {
  width: 50px;
  height: 50px;
}